{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{%static 'story1.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>ryZen</title>
</head>
<body>
    <div class="head">
        <p>Welcome to my site!</p>
    </div>

    <div class="content">
        <div class="container-one">
                <img id="photo" src="{% static 'cinoy.jpg' %}">
    
            <div class="info">
                <h2>Mohamad Rifqy Zulkarnaen</h2>
                <h4>1806205552</h4>
            </div>

            <div class="other-info">
                <p>Education: <br> Computer Science Major at Universitas Indonesia</p>
                <p>Hobby    : <br> Watching Korean Drama and Learning New Things</p>

                <p id="desc">
                    About Me: <br>
                    Born at 17th July 2000, i have strong millenial sundanese blood in my veins.
                    I am a guy who loves laughing and talks with my friends. In terms of passion,
                    I'm quite initiative and also passionate in my works especially in 
                    computer science related works. Fun fact: I love to collect Gunpla i right now,
                    my collection total worth is over 4 million rupiah.
                </p>
            </div>
        </div>
    
    
    </div>
</body>
</html>
