body {
    max-width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: #434343 !important;
    overflow-x: hidden !important;
}

.main-content {
    margin: 5vw 15vw 0 15vw;
    position: relative; 
}

#logo {
    width: 80px;
    margin-right: 30vw;
}

.nav-item {
    font-size: 1.5vw!important;
    padding: 8px 0;
    margin-right: 0vw !important;
    margin-left: 1vw !important;
}

.nav-aja {
    background-color: transparent;
    margin-right: 14vw;
    margin-left: 14vw;
    margin-top: 20px;
    z-index: 2;

}

#develop {
    color: #374785;
    font-weight: 800;
}

#develop {
    color: #374785 !important;
    font-weight: 800;
    text-decoration: none !important;
}

#develop:hover {
    text-decoration: none !important;
    color: #F76C6C !important;
    transition: all 1s ease 0s;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11vw;
    margin-bottom: 11.3vw;
}

#main-tulisan {
    text-align: center;
    font-size: 42pt !important;
    z-index: 2;
}


#bum-splash {
    position: absolute;
    width: 40vw;
    height: auto;
    z-index: 1;
}

.vr {
    border-left: 2px solid #434343;
    height: 90px;
}

#scroll-here {
    display: flex;
    justify-content: left;
}

#scroll-here p {
    margin-left: 1vw;
}

#project-one-logo {
    margin: 106.5px 125px;
    max-width: 200px;
}

.app-title {
    font-weight: 700;
    font-size: 32pt;
    margin: 0;
    z-index: 2;
}

.card {
    max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    margin: 0 auto;
}

.project-title {
    font-size: 28pt;
}

.project-title span {
    color: #374785;
}

.desc {
    font-size: 16pt;
}

.col {
    padding-left: 0px;
    padding-right: 25px;
}

.app {
    margin-top: 30px;
    margin-bottom: 60px;
}

#my-foto {
    background-image: url('../static/cinoy.jpg');
    background-size: cover;
    background-position-y: -90px;
    background-repeat: no-repeat;
    height: 265px;
    width: 520x;
}

#my-name img {
    max-width: 140%;
    opacity: 0.25;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ABD0E6;
    position: absolute;
    z-index: 1;
}

.circle:hover {
    background-color: #F76C6C;
    transition: 1s;
}

.app-title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#project-circle {
    margin-left: 103px;
}

#about-circle {
    margin-left: 83px;
}

#skill-circle {
    margin-left: 116px;
}

.skill-box img {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 4px solid #434343;
}

.skill-set .col,
.skill-box {
    width: 200px;
}

.even {
    padding-right: 0px;
}

.socmed a img {
    width: 50px;
}

#interest {
    font-weight: 900;
    font-size: 28pt;
    margin: 0;
}

#email {
    font-weight: 800;
    font-size: 3vw;
    text-align: center;

}

#email:hover {
    color: #ABD0E6;
    transition: all 1s ease 0s;

}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3vw 15vw;
    text-align: center;
    background: #212121;
    color: #f2f2f2;
    overflow: hidden;
    position: relative;
}

#socmed-container {
    margin-top: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.project-read {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-bg {
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    width: 80%;
    height: auto;
    opacity: 0.3;
    top: -8vw;
}

#footer-splash {
    position: absolute;
    right: -9vw;
    top: 10vw;
    width: 300px;
}

#footer-splash-2 {
    width: 250px;
    transform: rotate(90deg);
    left: -9vw;
    top: -3vw;
    position: absolute;
}

#splash-bg-1 {
    position: absolute;
    width: 500px;
    left: -45vw;
    top: -20vw;
    transform: rotate(270deg);
    opacity: 0.4;
}

#splash-bg-2 {
    position: absolute;
    width: 400px;
    right: -30vw;
    top: -40vw;
    transform: rotate(180deg);
    opacity: 0.4;
}

#custom-landing {
    margin-top: 5vw;
}



@media (max-width: 991px) {


    #logo {
        margin-right: 18vw;
    }

    /* #splash-bg-2,#splash-bg-1, #footer-splash, #footer-splash-2  {
        display: none;
    } */

    #bum-splash {
        width: 50vw;
        height: auto;
    }
}

@media(max-width:425px) {
    .skill-set .col,
    .skill-box {
    margin-bottom: 2vw;
}

    #about .row{
        padding: 0;
    }

    .desc{
        font-size: 6vw;
    }

    #about .row{
        display: flex;
        flex-direction: column;
    }

    #main-tulisan {
        font-size: 12vw !important;
    }

    #home-landing {
        margin-top: 20vw;
        
    }

    #bum-splash {
        width: 100vw;
        height: auto;
    }

    #splash-bg-1,
    #splash-bg-2,
    #footer-splash,
    #footer-splash-2 {
        width: 50vw;
    }

    #footer-splash {
        right: -30vw;
        top: 55vw;
    }

    #footer-splash-2 {
        left: -40vw;
        top: -20vw
    }

    #splash-bg-1 {
        left: -50vw;
        top: 60vw;
    }

    #email {
        font-size: 8vw;

    }

    #interest {
        font-size: 10vw;
    }

    #splash-bg-2 {
        top: -90vw
    }

    #socmed-container {
        margin: 5vw 0 10vw 0;
    }

    #socmed-container .col{
        padding: 3vw;
    }

    
#my-name img {
    max-width: 120%;
    opacity: 0.25;
}

#project-one-logo{
    margin: 25vw;
    width: 75%
    
}

#project .col{
    padding: 0;
    margin:2vw 0;
}

.project-bg{
    width: 100vw;
    top: 10vw;
}

}

@media (max-height:823px){
    
    footer{
        bottom: -10vw;
    }
}

@media( max-width:1124px){

    #splash-bg-1{
        width: 35vw;
        left: -35vw;
        top: -10vw;
    }

    #splash-bg-2{
        width: 25vw;
        right: -20vw;
        top: -40vw;
    }

    #socmed-container{
        margin: 5vw 0 10vw 0; 
    }
    #socmed-container .container .row .col{
        padding: 0;
        margin: 0 2vw;
    }
    }

@media( max-width:749px){
    #footer-splash {
        right: -30vw;
        top: 55vw;
    }

    #footer-splash-2 {
        left: -40vw;
        top: -20vw
    }
}