{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<a href="/story5">
    <<< back</a> 
    
    <form method="POST">

        {% csrf_token %}

        <div class='form-grub'>
            
            <div class='ikan'>
                <label for="kategori">Category</label>
                <div>
                    {{form.kategori_form}}
                    <small id="tempat" class="text-muted">
                        Enter the activities category
                    </small>
                </div>
            </div>

            <div class='ikan'>
                <label for="kegiatan">Activities</label>
                <div>
                    {{form.kegiatan_form}}
                    <small id="kegiatan" class="text-muted">
                        Input your activities
                    </small>
                </div>
            </div>

            <div class='ikan'>
                <label for="tempat">Location</label>
                <div>
                    {{form.tempat_form}}
                    <small id="tempat" class="text-muted">
                        Enter the activities location
                    </small>
                </div>
            </div>

            <div class='ikan'>
                <label for="dateTime">Date & Time</label><br>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{form.tanggal_jam_form }}
    
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small id="tempat" class="text-muted">
                    Enter in format DD/MM/YY H:M
                </small>
            </div>


        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        {% endblock %}