{% extends 'index.html' %}
{% load static %}

{% block content %}
<a href="/story5"><<< back </a>
<div class="jadwal">
    <div class="container">
           <div class="row">
               {% for event in CONTENT %}
               <div class="col-sm">
                   <div class="card" style="width: 18rem;">
                       <div class="card-body">
                           <h5 class="card-title">{{event.kegiatan}}</h5>
                           <h6 class="card-subtitle mb-2 text-muted">{{event.date_day}}</h6>
                           <p class="card-text">This {{event.kategori}} event will be held on {{event.time}} at
                               {{event.tempat}}</p>
                           <a href="{% url 'delete' event.id %}" class="btn btn-primary">Delete Event</a>
                       </div>
                   </div>
               </div>
               {% endfor %}
           </div>
       </div>
</div>

{% endblock %}
