{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">MyJadwal</h1>
        <p class="lead">Hello! This is my app for practicing Django Models and Databases. This is a Scheldue
            organizers developed by myself, Rifqy Zulkarnaen. Enjoy!
        </p>
        <hr class="my-4">
        <p>If you want to make a Scheldue, choose the Make one else choose the other</p>
        <a class="btn btn-primary btn-lg" href="/story5/create" role="button">Make a Scheldue!</a>
        <a class="btn btn-primary btn-lg" href="/story5/scheldue" role="button">See my Scheldue!</a>
    </div>
{% endblock %}    
