body{
    background: #24305E;  
    color: #F4F4F4;  
}

.landing-nav{
    margin: 1vw 5vw;
}

.landing-nav .nav-item{
    font-size: 16pt;
}


.landing-nav .nav-item a{
    color: rgb(231, 231, 231)!important;

}

.landing-nav .nav-item a:hover{
    color: #F4F4F4!important;
}   

.jumbotron{
    background: transparent;
}

.dropdown-item{
    color: #212121!important;
}