{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="app" id="about">
        <div class="app-title-section">
            <p class="app-title">About</p>
            <div class="circle" id="about-circle"></div>
        </div>

        <div class="app-items">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-read">
                            <p class="desc">Born at July 17th 2000. i am a big fan of technologies since i was child.
                                Recently
                                i’m pursuing at Computer Science degree at Universitas Indonesia.
                                I have great interest for website development and artificial intelligence.
                            </p>
                        </div>
                        
                        <div class="section-image" id="my-foto"></div>
                    </div>
                    <div class="col">
                        <div class="section-image" id="my-name">
                            <img src="{% static 'name.png' %}" alt="anjay">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="app" id="skill-set">
        <div class="app-title-section">
            <div class="app-title">Skill Set</div>
            <div class="circle" id="skill-circle"></div>
        </div>

        <div class="app-items">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="skill-box">
                            <img src="{% static 'html.png'%}" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="skill-box">
                            <img src="{% static 'css.png'%}" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="skill-box">
                            <img src="{% static 'java.png'%}" alt="">
                        </div>
                    </div>
                    <div class="col even">
                        <div class="skill-box">
                            <img src="{% static 'dj.png'%}" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}