{% extends 'index.html' %}
{% load static %}

{% block content %}    

    <div class="bum">
        <img src="{% static 'splash2.png' %}" alt="" id="splash-bg-1">
        <img src="{% static 'splash2.png' %}" alt="" id="splash-bg-2">

    </div>

    <div class="landing" id="home-landing">
        <p id="main-tulisan">I <span id='develop'>develop</span> websites <br>and I sell skills</p>
        <img id="bum-splash" src="{% static 'splash.png' %}" alt="">
    </div>

{% endblock %}