<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'noy.jpg' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <title>ryZen</title>
</head>

<body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-aja">
            <a class="navbar-brand" href="/." id="logo">
                <img src="{% static 'ryzen.svg' %}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                    <a class="nav-item nav-link" href="/." id="home"    >Home</a>
                    <a class="nav-item nav-link" href="/project" id="goto-project">Project</a>
                    <a class="nav-item nav-link" href="/about" id="goto-about">About</a>
                    <a class="nav-item nav-link" href="/story5/" id="">Schedule</a>
                    
                    
                    <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                </div>
            </div>
        </nav>
        
        <div class="main-content">
            
            {% block content %}
            {% endblock %}    
            
        </div>
        
        <footer>
        <img src="{% static 'splash2.png' %}" alt="" class ="a" id="footer-splash">
        <img src="{% static 'splash2.png' %}" alt="" class = "a" id="footer-splash-2">
        <p id="interest">Interested? Visit me:</p>
        <p id="email">rifqy.lxgw@gmail.com</p>
        <div id="socmed-container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="socmed">
                            <a href="https://facebook.com/mrifqyz">
                                <img src="{% static 'fb.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="socmed">
                            <a href="https://www.linkedin.com/in/mohamad-rifqy-zulkarnaen-210b4216b/">
                                <img src="{% static 'in.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="socmed">
                            <a href="https://www.instagram.com/mrifqyz17/">
                                <img src="{% static 'ig.png' %}" alt=""
                                ></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script>

</body>

</html>