{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="app" id="project">
        <div class="app-title-section">
            <p class="app-title">Project</p>
            <div class="circle" id="project-circle"></div>
        </div>

        <div class="app-items">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-image">
                            <div class="card">
                                <img src="{% static 'pmb.png' %}" alt="" id="project-one-logo">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="section-read project-read">
                            <div class="project-text">
                                <p class="project-title">
                                    PMB Fasilkom UI 2019 <span>Website</span>
                                </p>
                                <p class="desc">I designed User Interface and feature for PMB Fasilkom UI 2019 website along
                                    with my vice head, Mufalando. The web can be visited at https://pmb.cs.ui.ac.id</p>
                            </div>

                            <img src="{% static 'splash2.png' %}" alt="" class="project-bg">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}